<launch>
  
  <!-- Set true to publish odom tf -->
  <arg name="publish_odom_tf" default="true"/>

  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find roomblock_description)/robots/roomblock.urdf.xacro'" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
  </node>

  <!-- Run real robot interface -->
  <include file="$(find frita_bringup)/launch/include/real_create.launch.xml">
    <arg name="publish_odom_tf" value="$(arg publish_odom_tf)"/>
  </include>

</launch>